@page "/News/{id:range(1,10000)}"
@model ProjectStation.Pages.NewsStuff.NewsDetailsModel
@{
    ViewData["Title"] = Model.NewsSnippet.Title;
}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="mediumHeader">
                <div class=" mediumHeaderStyle">
                    @Model.NewsSnippet.Title
                </div>
            </div>
            <div class="fadedLine" style="margin-bottom:50px;"></div>
        </div>
    </div>
    <div class="row">
        <p class="newsSnippetDate">@Model.NewsSnippet.Date</p>
        
    </div>
    <div class="row" style="margin-bottom:50px;">
        @(new Microsoft.AspNetCore.Html.HtmlString(Model.NewsSnippet.Description))
    </div>
    <div class="row">
        @if (Model.NewsSnippetBackward != null)
        {
            <div class="col-md-3 offset-0"style="display:  inline-flex; flex-wrap: wrap;">
                <a class="newsSnippetDate"  asp-page="/NewsStuff/NewsDetails" asp-route-id="@Model.NewsSnippetBackward.Id"> &#171; @Model.NewsSnippetBackward.Title</a>
            </div>
        }

        @if (Model.NewsSnippetForward != null)
        {
            <div class="col-md-3 offset-6"style="display: inline-flex; flex-wrap: wrap;">
                <a class="newsSnippetDate" asp-page="/NewsStuff/NewsDetails" asp-route-id="@Model.NewsSnippetForward.Id">@Model.NewsSnippetForward.Title&#187;</a>
            </div>
        }

    </div>

</div>