@page "/shop/cart/"
@model ProjectStation.Pages.ShopStuff.CartModel
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Pages/ShopStuff/_Layout.cshtml";
}

<div class="container">
    <div class="row" style="margin-top:164px;">
        <div class="col-12">

            <h2 class="text-center">カート</h2>
        </div>
    </div>
    @if (Model.Empty)
    {
        <div class="alert alert-info" role="alert">
            Your cart is empty.
            <a asp-page="/Shop" class="alert-link">Click here to return to the shop.</a>.
        </div>
    }
    else
    {

        <form asp-page-handler="UpdateCart" method="post">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Number</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.CartItems.Count; i++)
                    {
                        <tr>
                            <th scope="row">1</th>
                            <td><img class="card-img" style="max-width:50px;" src="@Url.Content(Model.GetProduct(Model.CartItems[i].ProductId).PhotoPath)" /></td>
                            <td>@Model.GetProduct(Model.CartItems[i].ProductId).Price</td>
                            <td><input min="0" asp-for="@Model.CartItems[i].Quantity." class="form-control col-md-3" style="background-color:lightgray; width:64px;"></td>
                            <td>@Model.TotalCost.ToString()</td>
                        </tr>

                    }

                </tbody>

            </table>

            <label class="form-group row">
                <button type="submit" style="margin-left:8px;" class="btn btn-primary bg-dark">Update Cart</button>
            </label>
        </form>

        <row>
            <div class="col-6 offset-5">
                <div class="card text-center">
                    <div class="card-header">
                        Cart Summary
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Subtotal</td>
                                    <td>@Model.TotalCost</td>
                                </tr>
                                <tr>
                                    <td>Tax</td>
                                    <td>@Model.TotalCost</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td>@Model.TotalCost</td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                    <div class="card-footer">

                        <a asp-page="/ShopStuff/Checkout" method="post" class="btn btn-success btn-group-lg">Checkout</a>

                    </div>
                </div>

            </div>

        </row>

    }
</div>

